<header class="mdc-top-app-bar app-bar" id="app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <div class="burger-block">
            <span style="margin: auto; font-family: 'Lato', sans-serif; font-size: 18px;">Muslim Mahin</span>
            <a href="#"><button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button></a>
        </div>
        <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon">
            <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
                <span class="mdc-floating-label" id="my-label-id">Search</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
            <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="0" role="button">search</i>
        </label>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <div class="author">
            <img class="author-img" src="/assets/muslim-img.jpg">
            <div>
            <h1 class="author-name">Muslim Mahin</h1>
            <span class="role">Administration</span>
            </div>
        </div>
        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Favorite">notifications</button>
        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Options"><div>settings</div></button>
        </section>
    </div>
</header>