<div class="mdc-list">
    <div class="accordion-menu col-menu">
      <ul>
        <li> 
          <a class="mdc-list-item mdc-list-item--activated" href="path" aria-current="page">
            <span class="mdc-list-item__ripple"></span>
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
            <span class="mdc-list-item__text">Dashboard</span>
          </a>
          <ul>
            <li>
              <a class="mdc-list-item" href="path">
                <span class="mdc-list-item__text item">Mailbox</span>
              </a>
            </li> 
            <li>
              <a class="mdc-list-item" href="path">
                <span class="mdc-list-item__text item">Search</span>
              </a>
            </li> 
            <li>
              <a class="mdc-list-item" href="path">
                <span class="mdc-list-item__text item">To do List</span>
              </a>
            </li> 
          </ul>
        </li>    
        <li>
          <a class="mdc-list-item" href="path">
            <span class="mdc-list-item__ripple"></span>
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">apps</i>
            <span class="mdc-list-item__text">Apps</span>
          </a>
          <ul>
            <li>
              <a class="mdc-list-item" href="path">
                <span class="mdc-list-item__text item">Mailbox</span>
              </a>
            </li> 
            <li>
              <a class="mdc-list-item" href="path">
                <span class="mdc-list-item__text item">Search</span>
              </a>
            </li> 
            <li>
              <a class="mdc-list-item" href="path">
                <span class="mdc-list-item__text item">To do List</span>
              </a>
            </li> 
          </ul>
        </li>     
        <li>
          <a class="mdc-list-item" href="path">
            <span class="mdc-list-item__ripple"></span>
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">code</i>
            <span class="mdc-list-item__text">Components</span>
          </a>
          <ul>
            <li>
              <a class="mdc-list-item" href="path">
                <span class="mdc-list-item__text item">Mailbox</span>
              </a>
            </li> 
            <li>
              <a class="mdc-list-item" href="path">
                <span class="mdc-list-item__text item">Search</span>
              </a>
            </li> 
            <li>
              <a class="mdc-list-item" href="path">
                <span class="mdc-list-item__text item">To do List</span>
              </a>
            </li> 
          </ul>
        </li>    
      </ul>
    </div>
    <div class="help-nav">
      <a class="mdc-list-item" href="path">
        <span class="mdc-list-item__ripple"></span>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">help_outline</i>
        <span class="mdc-list-item__text">Help & Support</span>
      </a>
    </div>
</div>