<div class="align-right">
  <div class="mdc-list-group">
    <h3 class="mdc-list-group__subheader">NEW MESSAGE</h3>
    <ul class="mdc-list">
      <li class="mdc-list-item" tabindex="0">
        <div class="message">
          <img class="author-img" src="/assets/users-image/1.jpg">
          <div>
            <h1 class="author-name">John Partel</h1>
            <span class="online">2 hours ago</span>
          </div>
        </div>
      </li>
      <li class="mdc-list-item">
        <div class="message">
          <img class="author-img" src="/assets/users-image/2.jpg">
          <div>
            <h1 class="author-name">John Partel</h1>
            <span class="online">2 hours ago</span>
          </div>
        </div>
      </li>
      <li class="mdc-list-item">
        <div class="message">
          <img class="author-img" src="/assets/users-image/3.jpg">
          <div>
            <h1 class="author-name">John Partel</h1>
            <span class="online">2 hours ago</span>
          </div>
        </div>
      </li>
      <li class="mdc-list-item">
        <div class="message">
          <img class="author-img" src="/assets/users-image/4.jpg">
          <div>
            <h1 class="author-name">John Partel</h1>
            <span class="online">2 hours ago</span>
          </div>
        </div>
      </li>
    </ul>
    <h3 class="mdc-list-group__subheader">CHAT LINE</h3>
    <ul class="mdc-list">
      <li class="mdc-list-item">
        <div class="message user-online">
          <img class="author-img" src="/assets/users-image/5.jpg">
          <div>
            <h1 class="author-name">John Partel</h1>
            <span class="message-text">Call My Latter..?</span>
          </div>
        </div>
      </li>
      <li class="mdc-list-item">
        <div class="message user-online">
          <img class="author-img" src="/assets/users-image/6.jpg">
          <div>
            <h1 class="author-name">John Partel</h1>
            <span class="message-text">Hello! bro...</span>
          </div>
        </div>
      </li>
      <li class="mdc-list-item">
        <div class="message user-online">
          <img class="author-img" src="/assets/users-image/7.jpg">
          <div>
            <h1 class="author-name">John Partel</h1>
            <span class="message-text">Can you help me?</span>
          </div>
        </div>
      </li>
      <li class="mdc-list-item">
        <div class="message user-online">
          <img class="author-img" src="/assets/users-image/8.jpg">
          <div>
            <h1 class="author-name">John Partel</h1>
            <span class="message-text">What ..?</span>
          </div>
        </div>
      </li>
      <li class="mdc-list-item">
        <div class="message user-online">
          <img class="author-img" src="/assets/users-image/9.jpg">
          <div>               
            <h1 class="author-name">John Partel</h1>
            <span class="message-text">Pari na tao kori ..!</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>